<ul class="container12 menu-bar">
	<li span=10><a class=menu-link href="/"><img class=menu-logo
			src='/img/EnRouteIcon_CMYK.png'></a> <a
		href="/tutorial/010-tutorial.html">Tutorials </a><a
		href="/examples/010-examples.html">Examples </a><a
		href="/services/010-services.html">Services </a><a
		href="/concepts/010-concepts.html">Concepts </a><a
		href="/resources/010-resources.html">Resources </a><a
		href="/book/900-faq.html">FAQ </a><a
		href="/forum.html">Forum</a>
	<li class=menu-link span=1>
	<li class=menu-link span=1><a style="display:block;float:right;margin-right:20px;" href="http://www.osgi.org" target=_>
	<img src="http://enroute.osgi.org/img/osgi-logo-512.png" style="background-color:white;padding:5px;border-radius:2px"></a></div>
	
</ul>
