---
layout: bootstrap-front
---

<div class="container-fluid">

<div class="row-fluid">
    <!--Nav Bar -->
    {% include externalbar.html %}
    {% include sidebar.html %}

    <!--Main Content -->
    <div class="col-xs-16 col-md-9">
      <!--<div class="post">-->

        <article class="post-content">

          <h1>{{ page.title }}</h1>
          <br>
          <p>{% include byline.html %}</p>

          <p>{{ page.description }}</p>

          {{ content }}

        </article>

      <!--</div>-->

    </div>
</div>
</div>
